<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProxiaEngineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProxiaEngineService.Properties.Settings>
            <setting name="InterfacePath" serializeAs="String">
                <value>Folder</value>
            </setting>
            <setting name="FilenameTSFormat" serializeAs="String">
                <value>Long</value>
            </setting>
            <setting name="RegistryPath" serializeAs="String">
                <value>HKEY_CURRENT_USER\Software\ProxiaHandler\1.0</value>
            </setting>
            <setting name="IfError" serializeAs="String">
                <value>ExceptionOnError</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="LoggingMode" serializeAs="String">
                <value>Enhanced</value>
            </setting>
            <setting name="OptimaPath" serializeAs="String">
                <value>C:\Program Files (x86)\Comarch ERP Optima</value>
            </setting>
            <setting name="OptimaUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="OptimaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OptimaCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleParameters" serializeAs="String">
                <value>\c \cr</value>
            </setting>
        </ProxiaEngineService.Properties.Settings>
    </applicationSettings>
</configuration>